# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jjh63\Desktop\학교생활\3학년_2학기\2021_UMC_KAU_ServerStudy\COMPANY_DB_inGUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
